
<div class="panel panel-default">
    <div class="panel-heading"><h1> Congratulations :D </h1></div>
    <div class="panel-heading"><h3>You have passed {{exam.exam_type.type_name}} exam </h3></div>

    <div class="panel-body">
        <div class="panel-body">
            <p>   <b> Number of solved questions: {{number_solved}}</b></p>
        </div>
        <div class="panel-body">
            <p>   <b> Number of marked questions: {{number_marked}}</b></p>
        </div>
        <div class="panel-body">
            <p>   <b> Number of skipped questions: {{number_skipped}}</b></p>
        </div>
        <div class="panel-body">
            <h5>   <b> Score: {{score}}</b></h5>
        </div>

    </div>

</div>